
###
# throw away editor files
#
*~

###
# general build output
#
*.o
*.lo
*.la

###
# some build dirs
#
src/.deps
src/.libs

###
# autotools output
#
src/Makefile
src/Makefile.in
win32/Makefile
win32/Makefile.in
win32/Makefile.mak
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing

	
###
# project binaries
#
src/as-02-info
src/as-02-unwrap
src/as-02-wrap
src/asdcp-info
src/asdcp-test
src/asdcp-unwrap
src/asdcp-util
src/asdcp-wrap
src/blackwave
src/j2c-test
src/klvsplit
src/klvwalk
src/kmfilegen
src/kmrandgen
src/kmuuidgen
src/pinkwave
src/wavesplit
src/phdr-unwrap
src/phdr-wrap
